<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='estilos.css') }}">
<title>Escribe tu tweet</title>
<h1>Escriba su tweet</h1>
<head>
<body>
<div id="FormularioT">
<h1> Env&iacutea tu tweet</h1>
<form action="/twittear" method="post">
  
  <p>Tweet:</p>
<textarea name="tweet" rows="6" cols="60" maxlength='140' resize='none'>&iquest;Qu&eacute est&aacute pasando?</textarea><br><br><br>
  <span class="btn"><input type="submit" value="Twittear"></span><br>

</form>
  <br><br><br><span class="btn"><a href="/twitter">Volver al menu</a></span>
</div>
</body>
</html>
