div#FormularioS {
	 position:relative;
	 margin-left: 450px;
	 margin-right: 0px;
	 margin-top: 0px;
	 text-align:center;
	 width:400px;
	 height:200px;
 background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
 }
div#FormularioS p{

  font-family: Arial;
  color: #ffffff;
  font-size: 20px;

}

h1{
text-align:center;
  font-family: Arial;
  color: #ffffff;

}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
 border: solid #ffffff 2px;
	

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
 border: solid #ffffff 2px;
}

.btn input{
  border: 0; 
  background-color: transparent;
 font-family: Arial;
  color: #ffffff;
  font-size: 20px;
	
}

textarea{
 resize:none;
}

div#FormularioT{
	 position:relative;
	 margin-left: 300px;
	 margin-right: 0px;
	 margin-top: -50px;
	 text-align:center;
	 width:800px;
	 height:400px;
 background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
 }
div#FormularioT p{

  font-family: Arial;
  color: #ffffff;
  font-size: 20px;

}


div#FormularioM{
	 position:relative;
	 margin-left: 450px;
	 margin-right: 0px;
	 margin-top: 0px;
	 text-align:center;
	 width:400px;
	 height:200px;
 background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
 }

div#FormularioM a{
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  text-decoration:none;
}

div#FormularioR{
	 position:relative;
	 margin-left: 450px;
	 margin-right: 0px;
	 margin-top: 0px;
	 text-align:center;
	 width:600px;
	 height:620px;
 background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
 }

div#FormularioR a{
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  text-decoration:none;
}
